.beer-details {
  .beer-header {
    display: flex;
  }
  .image {
    width: auto;
    height: 9rem;
    margin: 0 2rem;
    img {
      margin: auto;
      width: auto;
      height: 100%;
    }
  }
}
