.beer-card {
  .image {
    cursor: pointer;
    width: 48px;
    height: 96px;
    img {
      margin: auto;
      width: auto;
      height: 100%;
    }
  }
  .media-content {
    cursor: pointer;
  }
  .favorite {
    cursor: pointer;
  }
}
